.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
}

.i-name>:nth-child(1){
    font-size: 3rem;
    font-weight: bold;
    color:var(--black);
}

.i-name>:nth-child(2){
    color: var(--orange);
    font-size: 3rem;
    font-weight: bold; 
}

.i-name>:nth-child(3){
    color: var(--gray);
    font-size: 14px;
    font-weight: 100;
    margin-top: 10px;
}

.i-button{
    width: 6rem;
    height: 2rem;
}

.i-icons{
    display: flex;
    gap: 0rem;
    margin-top: 3rem;
}

.i-icons>img{
    transform: scale(0.5);
}

.i-icons>img:hover{
    cursor: pointer;
}

.i-right{
  flex: 1;
  position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}

.i-right>:nth-child(2){
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}

.i-right>:nth-child(3){
    transform: scale(1.4);
    left: 28%;
}

.i-right>:nth-child(4){
    transform: scale(0.52);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(72px);
    z-index: -1;
    top: -18%;
    left: 56%;
}

@media screen and (max-width: 1024px){
    .i-right{
        right: 3rem;
    }  

    .i-right .floating-div{
        top: 5rem;
    }
    .i-right .floatingdiv{
        height: 3rem;
        
    }
}

@media screen and (max-width: 480px){
    .intro {
        flex-direction: column;
        gap: 0.2rem;
        height: 53rem;
        justify-content: space-between;
      }

      i-left{
        justify-content: space-around;
        gap: 1rem;
      }
    
      .i-right {
        transform: scale(0.65);
        left: -3rem;
        
      }
      .i-right .blur {
        display: none;
      }
      .floating-div:nth-of-type(1){
        /* display: none; */
        top: -7rem !important;;
      }

      .i-icons{
        justify-content: center;
        margin-top: 1rem;
      }
}